In [1]:
import os
import scipy.io
import numpy as np
import pandas as pd

In [38]:
full_dataset = pd.DataFrame()
for i in range(1,6):
    raw_data = scipy.io.loadmat(f"C:/Users/ameer/Desktop/p300/S{i}.mat")

    participant_id = [i] * len(raw_data['y'])
    timestep = list(range(1,len(raw_data['y'])+1))
    trigger = raw_data["trig"].flatten()
    channel_1 = raw_data['y'][:,0].flatten()
    channel_2 = raw_data['y'][:,1].flatten()
    channel_3 = raw_data['y'][:,2].flatten()
    channel_4 = raw_data['y'][:,3].flatten()
    channel_5 = raw_data['y'][:,4].flatten()
    channel_6 = raw_data['y'][:,5].flatten()
    channel_7 = raw_data['y'][:,6].flatten()
    channel_8 = raw_data['y'][:,7].flatten()
    temp = pd.DataFrame({
        "participant_id": participant_id,
        "timestep" : timestep,
        "channel_1": channel_1,
        "channel_2" : channel_2,
        "channel_3" : channel_3,
        "channel_4" : channel_4,
        "channel_5" : channel_5,
        "channel_6": channel_6,
        "channel_7": channel_7,
        "channel_8": channel_8,
        "trigger": trigger
    })
    full_dataset = pd.concat([full_dataset, temp], axis=0)

In [41]:
full_dataset.to_csv("full_dataset.csv")

In [3]:
data = pd.read_csv("C:/Users/ameer/Desktop/Hackathon/ConfusedMatrixP300/full_dataset.csv")

In [4]:
data.shape

(304269, 12)

In [5]:
data

,Unnamed: 0,participant_id,timestep,channel_1,channel_2,channel_3,channel_4,channel_5,channel_6,channel_7,channel_8,trigger
0,0,1,1,11.564022,6.806195,-0.839958,9.335871,5.796990,36.272963,5.265542,4.032394,0
1,1,1,2,11.496354,4.750291,0.263784,9.484304,5.252266,33.884664,4.147289,3.818456,0
2,2,1,3,11.021716,1.988979,1.273208,9.215325,4.437914,30.810695,3.426729,3.917395,0
3,3,1,4,10.592941,-1.048433,1.788976,8.848998,3.339090,27.122807,2.947671,4.145565,0
4,4,1,5,10.075521,-4.130195,1.296407,8.589282,1.947523,22.976416,2.374365,4.096638,0
...,...,...,...,...,...,...,...,...,...,...,...,...
304264,60850,5,60851,25.200833,-8.160597,-1.632134,7.230267,-12.889168,23.064468,-13.719194,-0.573368,0
304265,60851,5,60852,25.114429,-7.634543,-0.077657,8.802840,-11.998770,20.266819,-14.060965,-0.348350,0
304266,60852,5,60853,25.702621,-6.424084,1.683722,9.777650,-10.367086,18.965218,-12.496437,-0.159029,0
304267,60853,5,60854,26.356545,-5.345835,3.296015,10.149696,-8.808050,18.398303,-10.261105,-0.101577,0
304268,60854,5,60855,26.373341,-4.944383,4.375007,10.641672,-7.879667,17.906614,-8.566039,0.067845,0